*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#5A79C9,#5AC979);
  clip-path: circle(30% at right 70%);
}

body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3,#e91);
  clip-path: circle(20% at 10% 10%);
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  padding-top: 60px;
  background: rgba(255, 255, 255, 0.1);
  height: 500px;
  width: 75%;
  overflow: auto;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.choice{
  animation-name: slideUp;
  animation-duration: 1s;
}

.App-header h1{
  margin-bottom: 50px;
}

.ans{
  color: #eee;
  animation-name: slideRight;
  animation-duration: 1s;
}

.ans h3{
  margin: 10px 0;
}

.App-link, a {
  color: #fff;
  text-decoration: none;
}


.question {
  width: 70%;
  margin: auto;
}

.question input {
  width: 100%;
}

input {
  padding: 15px;
  margin: 15px 0;
  outline: none;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}

.btn{
  background: #577074;
  padding: 15px;
  border: none;
  color: white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  right: 10px;
  font-size: 1.1em;
  animation-name: swell;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.another-ans, .another-ans a{
  padding: 8px 5px;
  border: none;
  color: black;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.another-ans:hover, .another-ans a:hover{
  background: #BEBEBE;
}

.red{
  color: tomato;
}

.pop-list li{
  list-style-type: none;
  color: #5D96B0;
  cursor: pointer;
  font-weight: bold;
}

@keyframes swell {
  0% {
    transform: scale(1);
  }
  
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  0% {
    transform: scale(1);
  }

}


@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: .5;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideRight {
  from {
    transform: translateX(100px);
    opacity: .5;
  }

  to{
    transform: translateX(0);
    opacity: 1;
  }
}


  
  @media screen and (max-width: 400px) {
    .App-header{
      padding-top: 100px;
      width: 85%;
    }
  
    .question{
      width: 100%;
    }

    .btn{
      right: -10px;
    }
  }
